.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .list-wrapper .product-card {
    width: 50% !important;
  }
}
@media (min-width: 1024px) {
  .list-wrapper .product-card {
    width: 33.33333333% !important;
  }
}
@media (min-width: 1280px) {
  .list-wrapper .product-card {
    width: 25% !important;
  }
}
