.customer-support-wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 60px auto;
}
.customer-support-wrapper .customer-support-container {
  width: 100%;
  height: 100%;
}
.customer-support-wrapper .customer-support-container .banner {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1180/253;
}
.customer-support-wrapper .customer-support-container .banner::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("/assets/bgsupport.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1180/253;
  width: 100%;
  z-index: -1;
}
.customer-support-wrapper .customer-support-container .banner .banner-w {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.customer-support-wrapper .customer-support-container .banner .banner-w p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-input {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-input input {
  width: 90%;
  padding: 15px 10px;
  border-radius: 30px;
  border: none;
  background: #fff;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-inbox {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-inbox .banner-w-inbox-div {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-inbox .banner-w-inbox-div span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .banner .banner-w .banner-w-inbox .banner-w-inbox-div span p {
  font-size: 13px;
  font-weight: 300;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .optional {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #d9d9d9;
  margin: 36px 0px;
}
.customer-support-wrapper .customer-support-container .optional .optional-w {
  width: calc((100% - 72px) / 6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}
@media (min-width: 1024px) {
  .customer-support-wrapper .customer-support-container .optional .optional-w {
    padding: 15px 30px;
  }
}
.customer-support-wrapper .customer-support-container .optional .optional-w .optional-w-c {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.customer-support-wrapper .customer-support-container .optional .optional-w .optional-w-c img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
}
.customer-support-wrapper .customer-support-container .optional .optional-w .optional-w-c span {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .frequently-asked-questions {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #d9d9d9;
  padding: 15px 30px;
}
.customer-support-wrapper .customer-support-container .frequently-asked-questions p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .frequently-asked-questions .frequently-asked-questions-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.customer-support-wrapper .customer-support-container .frequently-asked-questions .frequently-asked-questions-container .frequently-asked-questions-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.customer-support-wrapper .customer-support-container .frequently-asked-questions .frequently-asked-questions-container .frequently-asked-questions-item span {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.customer-support-wrapper .customer-support-container .seen-products-wrapper {
  width: 100%;
  margin: 40px 0px;
}
.customer-support-wrapper .customer-support-container .seen-products-wrapper .seen-products-title {
  padding: 10px 0;
  text-transform: uppercase;
}
.customer-support-wrapper .customer-support-container .seen-products-wrapper .seen-products-title h1 {
  font-size: 18px;
  color: #000;
}
@media (min-width: 1024px) {
  .customer-support-wrapper .customer-support-container .seen-products-wrapper .seen-products-title h1 {
    font-size: 22px;
  }
}
.customer-support-wrapper .customer-support-container .seen-products-wrapper .seen-products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
