.user-accumulate-point-wrapper {
  padding: 19px 10px;
  padding-bottom: 42px;
}
.user-accumulate-point-wrapper .available-point-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 93px;
  background-color: #FFFCFC;
}
.user-accumulate-point-wrapper .available-point-container .available-point-amount {
  font-size: 24px;
  color: rgba(241, 12, 12, 0.968627451);
}
.user-accumulate-point-wrapper .manage-user-accumulate-point-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFCFC;
  margin-top: 21px;
  height: 179px;
  margin-bottom: 13px;
}
.user-accumulate-point-wrapper .manage-user-accumulate-point-container .manage-user-accumulate-point {
  padding: 0;
  text-align: center;
}
@media (min-width: 640px) {
  .user-accumulate-point-wrapper .manage-user-accumulate-point-container .manage-user-accumulate-point {
    padding: 0 44px;
  }
}
.user-accumulate-point-wrapper .manage-user-accumulate-point-container .manage-user-accumulate-point .accumulate-circle {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #D9D9D9;
}
@media (min-width: 640px) {
  .user-accumulate-point-wrapper .manage-user-accumulate-point-container .manage-user-accumulate-point .accumulate-circle {
    width: 106px;
    height: 106px;
  }
}
.user-accumulate-point-wrapper .feature-gift-container {
  background-color: #FFFCFC;
  padding: 26px 18px;
  margin-top: 13px;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .slick-slider .slick-list {
  max-width: 900px;
  margin: 0 -8px;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .slick-slider .slick-list .slick-slide {
  padding: 0 8px;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .slick-slider .slick-next {
  width: 50px;
  height: 50px;
  background-color: rgba(39, 86, 166, 0.462745098);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .slick-slider .slick-prev {
  width: 50px;
  height: 50px;
  background-color: rgba(39, 86, 166, 0.462745098);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product {
  background-color: #D9D9D9;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-image {
  height: 179px;
  width: 100%;
  object-fit: cover;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-info {
  padding: 2px 6px;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-info .exchange-product-price {
  display: flex;
  justify-content: space-between;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-info .exchange-product-price .exchange-product-price-new {
  color: #FCA020;
  font-size: 14px;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-info .exchange-product-price .exchange-product-price-original {
  font-size: 11px;
  font-weight: 100;
  text-decoration: line-through;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-info .exchange-product-title {
  font-size: 10px;
  line-height: 12px;
  font-weight: 200;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-action {
  padding: 9px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F3F3;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-action b {
  padding-left: 4px;
  flex: none;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-action .exchange-action-border {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.user-accumulate-point-wrapper .feature-gift-container .feature-gift-slider-container .exchange-product .exchange-product-action .exchange-action-border .separator {
  height: 19px;
  border: 1px solid #000;
}
