.custom-paginator-wrapper {
    width: 100%;
    text-align: center;
    user-select: none;

    .custom-paginator-container {
        position: relative;
        z-index: 0;
        display: inline-flex;
        align-items: center;
        border-radius: .375rem;

        .page-item {
            cursor: pointer;
            margin-left: -1px;
            position: relative;
            display: inline-flex;
            align-items: center;
            padding: 8px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: #6b7280;
            background-color: white;
            border: 1px solid #d1d5db;
            height: 100%;

            svg {
                width: 20px;
                height: 20px;
                padding: 4px;
            }
        }

        .page-item:hover {
            color: #9ca3af;
        }

        .page-number {
            padding-left: 16px;
            padding-right: 16px;
        }

        .left-most-chevron {
            border-top-left-radius: .375rem;
            border-bottom-left-radius: .375rem;
        }

        .right-most-chevron {
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }
    }
}

.active-page {
    border-color: #93c5fd !important;
    z-index: 10;
}