.user-content-body {
    background-color: transparent !important;
}

.user-favorite-list-wrapper {
    padding: 34px;
    background-color: #D9D9D9;
    border-radius: 16px;

    .user-title {
        margin-bottom: 14px;

        b {
            font-size: 15px;
        }

        span {
            font-size: 12px;
        }
    }

    .user-favorite-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: 38px;

        .user-favorite-item-container {
            flex: 1 1 0%;
            aspect-ratio: 1/1;
            height: 162px;
            width: 162px;
            background-color: #F5F5F5;
        }
    }
}